<% include ../partials/header %>
<div class="login">
  <div class="login-triangle"></div>
        <h1 class="login-header">Edit Comment</h1>
            <form class="login-container" action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                    <input type="text" name="comment[text]" value="<%= comment.text %>">

                    <input type="submit" value="Submit!">
            </form>
            <button><a href="/campgrounds">Go Back</a></button>
        </div>

<% include ../partials/footer %>

