<% include partials/header %>

<h1> Campground Page </h1>

<a href = "/campgrounds/new" >Add new campground </a>

<% campgrounds.forEach(function(campground){ %>
	<li>
		<%= campground.name %>
	</li>
	<img src = "<%= campground.image %>">
<% }); %>

<% include partials/footer %>