<% include ./partials/header %>

<div class="login">
  <div class="login-triangle"></div>

<h2 class="login-header">Sign Up!</h2>

<form class="login-container" action="/register" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Login!">
</form>

</div>
<% include ./partials/footer %>
