<% include ../partials/header %>

        <div class="login">
        <div class="login-triangle"></div>
        <h1 class="login-header">Create a New Campground</h1>

            <form class="login-container" action="/campgrounds" method="POST">

                    <input type="text" name="name" placeholder="name">

                    <input type="number" name="price" placeholder="Price" min="0.01" step= "0.01">

                    <input type="text" name="image" placeholder="image url">

                    <input type="text" name="description" placeholder="description">

                    <input type="submit" value="Submit">

            </form>
            <button><a href="/campgrounds">Go Back</a></button>
        </div>
        </div>


<% include ../partials/footer %>

